body {
  display: -ms-grid;
  display: grid;
  grid-template: "navigation navigation navigation navigation navigation" 4rem ". left-panel main-content right-panel ." auto / 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  background-color: #e4e4e4;
}

.navigation {
  display: -ms-grid;
  display: grid;
  grid-area: navigation;
  background-color: rgba(255, 255, 255, 0.61);
  padding-bottom: 1rem;
}

.left-panel {
  display: -ms-grid;
  display: grid;
  grid-area: left-panel;
}

.main-content {
  display: -ms-grid;
  display: grid;
  grid-area: main-content;
  background-color: #ffe9a0;
}

.right-panel {
  display: -ms-grid;
  display: grid;
  grid-area: right-panel;
  background-color: antiquewhite;
}

.left-panel {
  display: -ms-grid;
  display: grid;
  grid-template: "top-row " auto "middle-row" auto "bottom-row" 1fr / auto;
}

.left-panel__top-row {
  grid-area: top-row;
}

.left-panel__middle-row {
  grid-area: middle-row;
}

.left-panel__bottom-row {
  grid-area: bottom-row;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 12fr;
      grid-template-columns: 6fr 12fr;
}

.navigation li {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.navigation ul {
  padding-left: 0;
}

.navigation a {
  color: black;
  font-size: 0.55rem;
}

.navigation__left-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-left: 16rem;
}

.navigation__linked-in-icon {
  padding-right: 1rem;
}

.navigation__search-label {
  position: relative;
}

.navigation__search-label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center/contain no-repeat;
}

.navigation__search-input {
  padding: 10px 30px;
}

.navigation__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto;
  padding-right: 16rem;
}

.navigation__links > * {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.left-panel__images {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding-top: 0.5rem;
}

.left-panel__header-image {
  width: 12rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

.left-panel__profile-image {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid white;
  position: relative;
  top: -20px;
}

.left-panel__top-heading, .left-panel__sub-heading {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 400;
  padding: 0.2rem;
}

.left-panel__top-heading {
  font-size: 1.2rem;
}

.left-panel__sub-heading {
  font-size: 1.2rem;
}

.left-panel__views-posts {
  display: -ms-grid;
  display: grid;
  grid-template: ". . " / 3fr 1fr;
}

.left-panel__views-content {
  font-size: 14px;
  padding: 1rem 0;
}

.left-panel__views-numbers {
  color: #001aff;
  font-weight: 600;
  padding: 1rem 0;
}

.left-panel__access-offers {
  font-size: 12px;
  padding: 1rem 0;
}

.left-panel__my-items-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  font-size: 12px;
}

.left-panel__top-row, .left-panel__middle-row, .left-panel__bottom-row {
  border: 3px solid white;
  border-radius: 16px;
  padding: 0.4rem;
}

.left-panel__top-row {
  margin-bottom: 1rem;
}

.left-panel__middle-row {
  margin-bottom: 1rem;
}

.left-panel__bottom-row {
  grid-area: bottom-row;
}

.left-panel__middle-content ul {
  padding-left: 1rem;
}

.left-panel__middle-content li {
  list-style: none;
  padding: 0.2rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-panel__middle-content img {
  padding-right: 1rem;
}

.left-panel__middle-content h3 {
  padding: 1rem;
  font-weight: 300;
}

.left-panel__middle-row section h3:nth-child(3),
.left-panel h3:nth-child(5) {
  color: rgba(0, 0, 255, 0.808);
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */