// main grid layout

body {
  display: grid;
  grid-template:
    "navigation navigation navigation navigation navigation" 4rem
    ". left-panel main-content right-panel ." auto
    / 1fr 1fr 1fr 1fr 1fr;

  grid-gap: 0.5rem;

  background-color: rgb(228, 228, 228);
}
.navigation {
  display: grid;
  grid-area: navigation;

  grid-column-end: span 5;

  background-color: rgba(255, 255, 255, 0.61);
  padding-bottom: 1rem;
}
.left-panel {
  display: grid;
  grid-area: left-panel;
}
.main-content {
  display: grid;
  grid-area: main-content;

  background-color: rgb(255, 233, 160);
}
.right-panel {
  display: grid;
  grid-area: right-panel;

  background-color: antiquewhite;
}

.left-panel {
  display: grid;
  grid-template:
    "top-row " auto
    "middle-row" auto
    "bottom-row" auto
    "." 1fr / auto;

  &__top-row {
    grid-area: top-row;
  }

  &__middle-row {
    grid-area: middle-row;
  }

  &__bottom-row {
    grid-area: bottom-row;
  }
}
