// main grid layout

body {
  display: grid;
  grid-template:
    "navigation navigation navigation navigation navigation" 4rem
    ". left-panel main-content right-panel ." auto
    / 1fr 1fr 2fr 1fr 1fr;

  grid-gap: 0.5rem;

  background-color: rgb(179, 179, 179);
}

// MAIN GRID NAVIGATION LEFT_PANEL MAIN RIGHT_PANEL

.navigation-wrapper {
  grid-area: navigation;
  display: grid;
  grid-template: ". nav nav nav nav ." / 1fr 1fr 1fr 1fr 1fr 1fr;

  background-color: rgb(255, 255, 255);
}

.navigation {
  display: grid;
  grid-area: nav;

  background-color: rgba(255, 255, 255, 0.61);
}
.left-panel {
  display: grid;
  grid-area: left-panel;
}
.main-content {
  display: grid;
  grid-area: main-content;
}

.right-panel {
  display: grid;
  grid-area: right-panel;
}

// SPECIFICALLY LEFT PANEL GRID

.left-panel {
  display: grid;
  grid-template:
    "top-row " auto
    "middle-row" auto
    "bottom-row" auto
    "." 1fr / auto;

  &__top-row {
    grid-area: top-row;
  }

  &__middle-row {
    grid-area: middle-row;
  }

  &__bottom-row {
    grid-area: bottom-row;
  }
}

// SPECIFICALLY MAIN GRID

.main-content {
  display: grid;
  // grid-template:
  //   "start-post" auto
  //   "links" auto
  //   "." auto/ auto;

  grid-template-rows: repeat(3, auto);

  &__start-post {
    // display: grid;
    // grid-area: start-post;

    display: flex;
    align-items: center;
  }

  &__links {
    display: grid;
    grid-area: links;
  }

  &__links ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}

// SPECIFICALLY RIGHT PANEL GRID

.right-panel {
  display: grid;
  // grid-template:
  //   "top" auto
  //   "middle" auto
  //   "bottom" auto
  //   "." auto/ auto;
  grid-template-rows: repeat(4, auto);

  &__top-content {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
  }
}
