// middle

.main-content {
  &__start-post {
    background-color: $color-grey-dark-2;
    margin: 0.5rem;
    padding: 1rem;
  }

  &__links {
    background-color: $color-grey-dark-2;
    margin: 0.5rem;
    padding: 1rem;
  }

  &__links ul {
    list-style: none;
    padding: 3px;
    margin: 3px;
    font-size: 0.8rem;
  }

  &__profile-image {
    width: 3rem;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 2rem;
  }

  &__top-panel {
    background-color: $color-grey-light-2;
  }

  &__middle-panel {
    margin-top: 1rem;
    background-color: $color-grey-light-2;
  }

  &__middle-panel,
  p {
    line-height: 1.8rem;

    padding: 0.4rem;
  }
}
