// right-panel

.right-panel {
  &__top-content,
  &__middle-content,
  &__bottom-content,
  section > div {
    border: 3px solid white;
    border-radius: 12px;
  }

  &__top-content {
    background-color: rgb(143, 143, 143);
    margin-bottom: 1rem;
  }
  &__middle-content {
    background-color: rgb(143, 143, 143);
    margin-bottom: 1rem;
  }
  &__bottom-content {
    background-color: rgb(136, 136, 136);
  }
}
